.MUSICPLAYERBODYHERE {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: white;
}

.img-area {
  margin-top: 10px;
  height: 350px;
  width: 350px;
  background: red;
  border-radius: 10px;
  box-shadow: 0px 6px 12px var(--lightwshadow);
  overflow: hidden;

}

.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.song-details{
  text-align: center;
}

.song-details .song-title {
  font-size: 58px;
  font-weight: bold;
  margin: 10px;
  color: #fff;
}

.song-details .song-artist {
  color: #B5B5B5;
  font-size: 29px;
  font-weight: 500;
}

.progress-bar {
  width: 510px;
  cursor: pointer;
  outline: none;
  height: 6px;
  border-radius: 100px;

  -webkit-appearance: none;
  appearance: none;

  background: transparent;
  overflow: hidden;
  
  /* TRACK SETTINGS*/
  --track-color: #4D4D4D;
  --track-color-filled: #FFFFFF;
  --track-color-filled-hover: #1DB954;
  /* thumb SETTINGS*/
  --thumb-color: #FFFFFF; /* Default color */
  --thumb-color-hover: #1DB954; /* Color on hover */
}

/* Style the track */
.progress-bar::-webkit-slider-runnable-track {
  background-color: var(--track-color);
  height: 6px;
  border-radius: 9999999999999px;
}

.progress-bar::-moz-range-track {
  background-color: var(--track-color);
  height: 0.5rem;
  border-radius: 9999999999999px;
}

/* Style the thumb */
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  background-color: var(--thumb-color);

  box-shadow: -402px 0 0 400px var(--track-color-filled);
  height: 6px;
  width: 3px;
  border-radius: 100px;

  transition: .1s ease-in-out;
}

.progress-bar::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  background-color: var(--thumb-color);

  box-shadow: -402px 0 0 400px var(--track-color-filled);
  height: 6px;
  width: 3px;
  border-radius: 100px;

  transition: .1s ease-in-out;
}

/* Changing color on hover */
.progress-bar:hover::-webkit-slider-thumb {
  background: var(--track-color-filled-hover);
  box-shadow: -402px 0 0 400px var(--track-color-filled-hover);
}

.timestamps {
  display: flex;
  justify-content: space-between;
  width: 510px;
  font-size: 13px;
  color: #A7A7A7;
  font-weight: 600;
}

.controls {

  justify-content: space-evenly;
}
