@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --mainColor: #fff;
    --mainLightColor: rgba(235,235,235,0.5);
    --mainDimColor: rgb(228,228,228);
}

.MUSICPLAYERBODYHERE {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  color: white;
}

.img-area {
  height: 262.5px;
  width: 525px;
  margin-top: 100px;
  background: red;
  border-radius: 10px;
  box-shadow: 0px 6px 12px var(--lightwshadow);
  overflow: hidden;
}

.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.song-details{
  text-align: center;
  margin: 50px 0;
}

.song-details .song-title {
  font-size: 58px;
  font-weight: bold;
  margin: 0px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.song-details .song-artist {
  color: #B5B5B5;
  font-size: 29px;
  font-weight: 500;
}

.progress-bar {
  width: 510px;
  cursor: pointer;
  outline: none;
  height: 6px;
  background: #CCC;

  -webkit-appearance: none;
  appearance: none;

  border-radius: 100px;
  background: transparent;
  
  /* TRACK SETTINGS*/
  --track-color: #4D4D4D;
  --track-color-filled: #FFFFFF;
  --track-color-filled-hover: #1DB954;
  /* thumb SETTINGS*/
  --thumb-color: #1DB954; /* Default color */
  --thumb-color-hover: #ffffff; /* Color on hover */
}

/* Style the track */
.progress-bar::-webkit-slider-runnable-track {
  background-color: var(--track-color);
  height: 0.5rem;
  border-radius: 9999999999999px;
}

.progress-bar::-moz-range-track {
  background-color: var(--track-color);
  height: 0.5rem;
  border-radius: 9999999999999px;
}

/* Style the thumb */
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  background-color: #FFFFFF;
  margin-top: -4px;
  height: 1rem;
  width: 1rem;
  border-radius: 100px;

  transition: .2s ease-in-out;
}

.progress-bar::-moz-range-thumb {
  background-color: #FFFFFF;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 100px;

  transition: .2s ease-in-out;
}

.timestamps {
  display: flex;
  justify-content: space-between;
  width: 510px;
  font-size: 13px;
  color: #A7A7A7;
  font-weight: 600;
}

.controls {
  margin-top: 20px;
  justify-content: space-evenly;
}

.song-duration {
  width: 50%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.duration {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #c4d0e3;
}