.screen-container {
    width: 77%;
    position: relative;
    right: 5px;
    margin: auto;
    height: 96.5%;
    background-color: #121212;
    border-radius: 15px;
    opacity: 1;
    color: white;
  }
  
  .flex {
    display: flex;
  }