.player-body {
  width: 68%;
  height: 97%;
  margin-left: 11px;
  margin: auto;
  opacity: 1;
  }
  
.queue-body {
  width: 30%;
  height: 100%;
}

.qsong-button {
  width: 100%; /* Adjust width as needed */
  border: 5px solid #121212; /* Add border */
  background-color: #161616; /* Add background color */
  text-align: left; /* Align text to the left */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.queue-list ul{
  list-style-type: none;
  padding: 0;
}
.queue-list li{
  display:block;
  align-items: right;
}
.qsong-button .qsong-title {
  font-size: 12px; /* Adjust the font size of the song title */
  color: white;
}

.qsong-button .qsong-artist {
  font-size: 12px; /* Adjust the font size of the song title */
  color: white;
}

.body{
  width: 77%;
  position: relative;
  right: 5px;
  margin: auto;
  height: 96.5%;
  background-color: #121212;
  border-radius: 15px;
  opacity: 1;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
}

flex {
  display: flex;
}

