.player-body {
  width: 68%;
  height: 100%;
  margin-right: 2px;
  }
  
.queue-body {
  width: 30%;
  height: 100%;
}

.body{
  width: 77%;
  position: relative;
  right: 5px;
  margin: auto;
  height: 96.5%;
  background-color: #121212;
  border-radius: 15px;
  opacity: 1;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
}

.music-player{
    width: 350px;
    height: 550px;
    border-radius: 15px;
    background-color: #1ED760;
    padding: 30px;
}

flex {
  display: flex;
}