.player-body {
  width: 68%;
  height: 97%;
  margin-left: 11px;
  margin: auto;
  opacity: 1;
  }
  
.queue-body {
  width: 30%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.page-body{
  width: 77%;
  position: relative;
  right: 5px;
  margin: auto;
  height: 96.5%;
  background-color: #121212;
  border-radius: 15px;
  opacity: 1;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
}

flex {
  display: flex;
}