.taskbar{
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: #121212;
    border-radius: 15px;
    justify-content: space-evenly;
}

.library-icon{
    width:140px;
    height: 35px;
    margin-top: 20px;
}

