.library-icon{
    width: 140px;
    height: 35px;
    margin-trim: 20px auto;
    padding-right: 100px;
}

.library{
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: #121212;
    border-radius: 15px;

}

.btn-body{
    height: 40px;
    width: 210px;
    border-radius: 20px;
    color: #A7A7A7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    transition: all 0.2s ease;
    padding-right: 50px;
}

.lib-title{
    margin: 4px auto;
    font-weight: 700;
    font-size: 16px;
    align-items: left;
    padding-left: 30px;
}


.song-button {
    width: 100%; /* Adjust width as needed */
    border: 1px solid #121212; /* Add border */
    background-color: #161616; /* Add background color */
    text-align: left; /* Align text to the left */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.song-button:hover {
    background-color: #343333; /* Change background color on hover */
}

.song-list ul{
    list-style-type: none;
    padding: 0;
}

.song-list li{
    display:block;
    align-items: right;
}

.song-button .song-info img {
    width: 50px; /* Adjust the width of the cover image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 25px;
    margin-left: 20px;   
}

.song-button .song-details{
    display: flex;
    flex-direction: column;
}

.song-button .song-title {
    font-size: 12px; /* Adjust the font size of the song title */
}

.song-button .song-artist {
    font-size: 12px; /* Adjust the font size of the song artist */
}
